/* @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap'); */

.nav-items{
    align-items: end;
}

.dropdown-scroll{
    /* font-size: 8px; */
    max-height:300px;
    overflow:scroll;
}

.union-territories-dropdown{
    width: 5vw;
}

.current-state-dropdown{
    border-style: solid;
    border-color: #2e354166;
    border-width: 2px;
}

.background-andhra-pradesh2{
    background-image: url(states_bg.jpeg);
    /* height: 100vh; */
    background-size: cover;
    padding-top: 10vh;
    padding-bottom: 5vh;
}

.card-bg-andhra-pradesh2{
    background-color: rgba(255, 255, 255, 1);
    /* opacity: .80; */
}

.card-andhra-pradesh2{
    margin: 10vh;
    margin-top: 0vh;
    margin-bottom: 5vh;
    /* padding-top: 12vh; */
    padding: 14vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    border-radius: 15px;
    border-style: solid;
}

.front-image-andhra-pradesh2{
    width: 70vw;
    height: 80vh;
    margin: auto;
}

.image-title-andhra-pradesh2{
    color: #2e3541;
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: 5px;
}

.horizontal-rule-andhra-pradesh{
    height: 2px;
    color: #2e3541;
    width: 70vw;
    margin: auto;
    margin-bottom: 10px;
}

.paragraph-andhra-pradesh2{
    /* margin-left: 7vw;
    margin-right: 7vw; */
    color: #2e3541;
    font-family: 'Roboto';
    font-size: 16px;
}

.heading-andhra-pradesh2{
    color: #25b1cc;
    font-family: 'Courier New';
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 8px;
}

.Recommended-section{
    border-style: solid;
    border-width: 5px 0px 0px 0px;
    /* border-color: #2e3541; */
    border-top-color: red;
    /* border-right-color:#1ECBE1; */
    padding: 12px;
    padding-top: 0px;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px 2px #1ECBE1;
    /* box-shadow: 5px 5px 10px rgb(31, 202, 224, 1); */
}

.Recommended-section-border{
    border-color: #1ECBE1;
}

.paragraph-recommended-section-andhra-pradesh{
    color: black;
    font-family: 'Roboto';
    font-size: 21px;
    /* line-height: 22px; */
}

.card-recommended-states{
    width: 20vw;
    text-align: center;
    font-weight: bold;
    border-style: none;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
    margin: auto;
}

.card-recommended-states:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
}

.image-recommended-states{
    height: 25vh;
    width: 20vw;
}

.youtube-videos{
    height: 25vh;
    width: 20vw;
    margin: auto;
    transition: 0.3s;
}

.youtube-videos:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
    transform: scale(1.1);
}

