
.nav-items{
    align-items: end;
}

.dropdown-scroll{
    /* font-size: 8px; */
    max-height:300px;
    overflow:scroll;
}

.union-territories-dropdown{
    width: 5vw;
}

a{
    text-decoration: none;
}

.background{
    background-image: url(weather_bg.png);
    background-size: cover;
}

.card-weather{
    background-color: white;
    margin: 12vh;
    padding: 4vh;
    border-radius: 25px;
    border-style: solid;
}

.image-weather-card{
    border-style: solid;
    border-color: yellowgreen;
    border-radius: 10px;
    padding: 10px
}

.image-weather{
    width: 30vw;
    height: 35vh;
    margin-left: 8vw;
    margin-right: 4vh;
    border-radius: 10px;
    transition: 0.4s;
}

.image-weather:hover{
    box-shadow: #1ECBE1 6px -6px;
    /* box-shadow: 5px 5px 5px rgb(32, 31, 31);  */
    /* box-shadow: 5px 5px 5px #1ECBE1; */
    scale: 1.03;
}

.button{
    background-color: aqua;
    border-radius: 25px;
    width: 30vw;
    margin-top: 10px;
    margin-bottom: 50px;
    margin-left: 8vw;
}

.paragraph1 {
    font-family: "Roboto";
    font-size: 20px;
}

